.c-item
{
    height: 380px;

}

.c-img
{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
    
}

.overview
{
    background-color: #d3dae1;
    height: 180px;
}

.card-img-top {
    height: 300px; /* Fixed height */
    width: 100%; /* Full width */
    object-fit: cover; /* Maintain aspect ratio */
}
